/* -------------RESETS------------- */
/*Resets are used for overwriting default html tag properties/ */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --clr-primary: #192f57;
  --clr-secondary: #4668a5;
  --clr-light: #ffffff;
  --clr-dark: #2c3333;
  --font: "Poppins", sans-serif;
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  border: 0;
  font-family: inherit;
  font-size: 100%;
  font-style: inherit;
  font-weight: inherit;
  margin: 0;
  outline: 0;
  padding: 0;
  vertical-align: baseline;
  scroll-behavior: smooth;
  list-style: none;
}
html {
  font-size: 62.5%;
  height: 100%;
}
body {
  color: var(--clr-dark);
  font-family: var(--font);
  font-size: 1.6rem;
  overflow-x: hidden;
  line-height: 1.4;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
article,
aside,
footer,
header,
nav,
section,
time {
  display: block;
}
a {
  text-decoration: none;
}
img {
  max-width: 100%;
}
.container {
  max-width: 120rem;
  margin: 0 auto;
  padding: 0 1.5rem;
}
.header {
  background-color: var(--clr-light);
  font-weight: 500;
  padding: 2rem;
  position: relative;
  z-index: 99;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.header__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
}
.header__nav {
  display: flex;

  align-items: center;
  gap: 33rem;
}
.header__nav ul {
  display: flex;
  gap: 4rem;
  font-size: 16px;
  font-weight: 700;
}
.header__nav ul li a {
  color: var(--clr-dark);
}

.header__nav ul li a:hover {
  color: var(--clr-primary);
  transition: 0.5s ease-in-out;
}
.toggle_menu {
  display: none;
}
.toggle_menu span {
  color: var(--clr-primary);
  width: 3rem;
  height: 0.3rem;
  border: 2px solid var(--clr-primary);
  border-radius: 1rem;
}
@media screen and (max-width: 520px) {
  .header {
    position: fixed;
    width: 100%;
    top: 0;
  }
  .header__nav {
    background-color: var(--clr-primary);
    /* color: var(--clr-light); */
    height: 100vh;
    width: 100%;
    position: fixed;
    right: -100%;
    z-index: 99;
    margin-top: 4rem;
    transform: translateY(50rem);
    display: flex;
    flex-direction: column;
    text-align: center;
    transition: all 0.5s ease-in-out;
    padding-top: 8rem;
    gap: 8rem;
  }
  .header__nav.open {
    right: 0;
    transition: all 0.5s ease-in-out;
  }
  .header__nav ul {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  .header__nav ul li a {
    color: var(--clr-light);
  }
  .toggle_menu {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }
  .header__nav.open ul {
    right: 0;
    transition: all 0.5s ease-in-out;
  }
  .toggle_menu.open span:first-child {
    transform: translate(0, 10px) rotate(225deg);
    transition: 0.5s ease;
  }
  .toggle_menu.open span:nth-child(2) {
    opacity: 0;
  }
  .toggle_menu.open span:last-child {
    transform: translate(0, -7.5px) rotate(-225deg);
    transition: 0.5s ease;
  }
}
.banner h1 {
  color: var(--clr-primary);
  position: absolute;
  font-size: 48px;
  font-weight: 700;
  margin-top: 8rem;
  width: 50rem;
}
.btn {
  color: var(--clr-light);
  display: inline-block;
  background-color: var(--clr-primary);
  padding: 1rem 2rem;
  border-radius: 1rem;
}

.banner {
  background-image: url(./IMG/home\ banner.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

@media screen and (max-width: 520px) {
  .banner h1 {
    margin-top: 13rem;
    font-size: 32px;
    width: 40rem;
    margin-left: 3rem;
  }
  .banner {
    height: 80rem;
  }
}
.properties {
  background-color: var(--clr-secondary);
  padding: 5rem;
}
.properties__text {
  color: var(--clr-light);
  text-align: center;
  padding: 3rem;
}
.properties__text h3 {
  font-size: 30px;
  font-weight: 700;
}
.properties__wrapper {
  background-color: var(--clr-secondary);
  display: flex;
  gap: 3rem;
}
.cards {
  background-color: var(--clr-light);
}
.cards h4 {
  font-size: 24px;
  font-weight: 700;
}
.cardstext {
  padding: 2rem;
}
.cards table {
  margin-top: 3rem;
}
.cards td {
  padding-bottom: 1.5rem;
}
.cards img {
  width: 100%;
}
.cards table a {
  margin-right: 3rem;
}
.cards table h5 {
  font-weight: 700;
}
@media screen and (max-width: 520px) {
  .properties__wrapper {
    flex-direction: column;
  }
  .cards table a {
    font-size: 14px;
  }
}
.section3__wrapper {
  margin-top: 5rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.section3__text {
  margin: 3rem;
}
.section3__text h2 {
  font-size: 36px;
  font-weight: 700;
  margin-bottom: 1.5rem;
}
.section3__text a {
  margin-top: 3rem;
}
@media screen and (max-width: 520px) {
  .section3__wrapper {
    grid-template-columns: 1fr;
    text-align: center;
  }
}
.testimonials__wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.testimonials__container {
  background-color: var(--clr-dark);
}
.testimonials__text {
  color: var(--clr-light);
}
.testimonials__text h1 {
  margin-top: 10rem;
  font-size: 18px;
  margin-bottom: 3rem;
}
.testimonials__text h2 {
  font-size: 48px;
  font-weight: 700;
  margin-bottom: 5rem;
}
.testimonials__text p {
  margin-bottom: 5rem;
}
.testimonials__text h3 {
  font-size: 36px;
  font-weight: 700;
}
@media screen and (max-width: 520px) {
  .testimonials__wrapper {
    grid-template-columns: 1fr;
    text-align: center;
  }
  .testimonials__wrapper img {
    margin-top: 5rem;
    margin-bottom: 5rem;
  }
}
.footer {
  background-color: var(--clr-primary);
}
.footer__text {
  color: var(--clr-light);
  padding: 3rem 0;
}
.property__text {
  margin-top: 5rem;
  margin-bottom: 5rem;
  text-align: center;
  font-size: 24px;
  font-weight: 700;
}
.property1 img {
  max-width: 100%;
  width: 100%;
  padding-right: 3rem;
}
.property__section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 3rem;
}
.property2 h2 {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 0.5rem;
}
.property2 h3 {
  margin-bottom: 2rem;
}
.property2 p {
  margin-bottom: 5rem;
}
@media screen and (max-width: 520px) {
  .property__section {
    grid-template-columns: 1fr;
    text-align: center;
  }
  .property1 img {
    padding: unset;
  }
}
.about {
  background-image: url(./IMG/about\ banner.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 70vh;

}
.about__text {
  position: absolute;
  max-width: 100%;
  width: 60rem;
}
.about__text h1 {
  font-size: 48px;
  font-weight: 700;
  color: var(--clr-primary);
  margin-top: 8rem;
  margin-bottom: 3rem;
}
.about__text p{
  margin-bottom: 5rem;
}
.offer__cards{
  display: grid;
  grid-template-columns: 0.5fr 1fr;
  background-color: #D9D9D9;
  margin-bottom: 3rem;
  box-shadow: rgba(255, 255, 255, 0.5) 0px 3px 8px;
}
.offer__wrapper{
  margin-bottom: 8rem;
}
.offer__cards img{
  height: 100%;
}
.offer__cards h4{
  margin-left: 3rem;
  margin-top: 5rem;
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 3rem;
}
.offer__cards p{
  margin-left: 3rem;
  padding-right: 3rem;
}
@media screen and (max-width:520px){
  .about__text h1{
    margin-top: 15rem;
  }
  .offer__cards{
    grid-template-columns: 1fr;
    padding-bottom: 3rem;
  }
  .offer__cards img{
    width: 100%;
  }
  .about{
    height: 82vh;
  }
}
.text__header{
  text-align: center;
}
.text__header h3{
  margin-top: 8rem;
  font-size: 36px;
  font-weight: 700;
  margin-bottom: 3rem;
}
.text__header p{
  margin-bottom: 5rem;
}
.contact__wrapper{
  display: grid;
  grid-template-columns: 1fr 2fr;
  padding-bottom: 20rem;
}
.part1__cards{
   display: flex;
 box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  margin-bottom: 3rem;
}
.contact__text{
  margin-top: 8rem;
  margin-bottom: 1rem;
  
}
.part1__wrapper h2{
  margin-top:1rem;
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 1rem;
}
.part1__wrapper h4{
  margin-bottom: 3rem;
}
.part1__cards a{
  font-size: 24px;
  color: var(--clr-light);
  background-color: var(--clr-primary);
  margin: 1rem;
  border-radius: 50%;
  padding: 8px;
}
.cards__text p{
  padding-top: 1.2rem;
}
.cards__text h5{
  font-weight: 700;
}
.fname__lname{
  display: flex;
 
}

.fname__lname li textarea{
  padding-right:13.5rem;
  
}
.contacts__form{
  margin-left: 8rem;
  
}
.contacts__form textarea {
  width: 90%;
  background-color: var(--clr-light);
  border-radius: 15px;
  font-family: var(--font);
  font-size: 1.4rem;
  color: var(--clr-dark);
  padding-left: 1.5rem;
  padding-top: 1.2rem;
  padding-bottom: unset;
  margin-bottom: 1.5rem;
  resize: none;
  font-weight: 700;
}
#message {
  padding-bottom: 15rem;
}
@media screen and (max-width:520px) {
  .contact__wrapper{
    grid-template-columns: 1fr;
  }
  .part1__wrapper h2{
    margin-top: 3rem;
  }
  .contacts__form{
    margin-left: 3rem ;
  }
  .fname__lname li textarea{
    padding-right: 0.5rem;
  }
}
/* ASSETS */
.btn:hover {
  background-color: var(--clr-light);
  border: 1px solid var(--clr-dark);
  transition: all 0.5s ease-in-out;
  color: var(--clr-primary);
}
.header__nav ul li a:hover {
  transition: all 0.5s ease-in-out;
  color: var(--clr-secondary);
}
.hover__text:hover {
  color: var(--clr-dark);
}
